@import '../../../styles/utils/colours';
@import '../../../styles/utils/mixins';

.l-table,
.l-table__head,
.l-table__body,
.l-table__row,
.l-table__cell {
  display: block;
}

.l-table {
  border: 0;
  width: 100%;
  border-collapse: collapse;

  &--header{
    background-color: $table-heading--bg;
  }

  &__row:not(.l-table__row--header) {
    border: solid $black;
    border-width: 1px 1px 0;
    margin: 8px 0;
  }

  &__cell {
    background-color: $table-alt-row--bg;
    border: 0;
    border-bottom: 1px solid $black;
    position: relative;
    text-align: center;

    &:first-child {
      background-color: $table-heading--bg;
      padding-left: inherit;
      text-align: center;
      font-weight: bold;
    }
    &:nth-child(odd):not(:first-child ) {
      background-color: inherit;
    }
  }
}

@include medium {
  .l-table       { display: table; }
  .l-table__head { display: table-header-group; }
  .l-table__body { display: table-row-group; }
  .l-table__row  { display: table-row; }
  .l-table__cell { display: table-cell; }

  .l-table {
    border: 1px solid $black;
  }

  .l-table__row {
    font-weight: normal;
    &--header {
      background-color: $table-heading--bg;
      font-weight: bold;
    }
    &:nth-child(odd):not(.l-table__row--header) {
      background-color: $table-alt-row--bg
    }
  }

  .l-table__cell {
    background-color: transparent;
    padding: 4px 8px;
    text-align: left;

    &:first-child {
      font-weight: inherit;
      background-color: inherit;
    }
  }
}

